{% extends 'base.html.twig' %}

{% block title %}Mes Factures
{% endblock %}

{% block body %}
	<main class="flex flex-col h-screen md:flex-row">
		{{ include('_components/front/global/_side_bar.html.twig') }}
		<section class="flex-grow px-5 pt-8 pl-8 overflow-x-hidden overflow-y-auto">
			<h1 class="pb-4 mb-10 text-4xl">Mes Factures</h1>
			{{ include('_components/front/bill/_add_bill_popup.html.twig') }}
			{# TODO: ajouter la search bar et les filtres #}
			{% for error in errors %}
			{{ include('_components/front/global/_toast.html.twig', {
				'message' : error, 
				'state' : 'error'} ) }}			
			{% endfor %}

			{{ include('_components/front/bill/_table.html.twig', bills) }}
		</section>
	</main>
{% endblock %}