{% extends 'layout/front_office.html.twig' %}

{% block title %} 
	Mes Factures 
{% endblock %}

{% block content %}
	{% if is_granted('ROLE_COMPANY') %}	
		<h1 class="pageTitle">Mes factures</h1>

		{{ include('front/search/index.html.twig') }}
		{{ include('_components/front/bill/_add_bill_popup.html.twig') }}

		{% for error in errors %}
			{{ include('_components/front/global/_toast.html.twig', {
				'message' : error, 
				'state' : 'error'} ) }}			
		{% endfor %}
	{% endif %}

	{% if is_granted('ROLE_ACCOUNTANT') %}	
		<h1 class="pageTitle">Factures</h1>
	{% endif %}

	{{ include('_components/front/bill/_table.html.twig', bills) }}
{% endblock %}
