{% extends 'layout/back_office.html.twig' %}

{% block title %}New Company Admin{% endblock %}

{% block content %}
	<a href="{{ path('back_app_company_index') }}" class="backToPrevious">
        <i class="fa-solid fa-arrow-left text-2xl"></i>
	</a>
	<h1 class="pageTitle">Ajouter une nouvelle company</h1>

	<div class="mx-auto md:w-1/2 lg:mx-0">
		{{ include('_components/back/company/_form.html.twig', { 'button_label': 'Ajouter' }, ) }}
	</div>
{% endblock %}
