{% extends 'layout/back_office.html.twig' %}

{% block title %}New Company Admin{% endblock %}

{% block content %}
	<a href="{{ path('back_app_company_index') }}" class="backToPrevious">
		<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
	</a>
	<h1 class="pageTitle">Ajouter une nouvelle company</h1>

	<div class="mx-auto md:w-1/2 lg:mx-0">
		{{ include('_components/back/company/_form.html.twig', { 'button_label': 'Ajouter' }, ) }}
	</div>
{% endblock %}
