<div class="relative my-5 overflow-x-auto">
	<table class="table-auto w-full text-sm text-left text-neutral-500 rtl:text-right dark:text-neutral-400">
		<tbody>
			{% for clientInteraction in clientsInteractions|slice(0, 11) %}
				<td class="px-6 pt-2">
					<div class="py-2 px-4
						{% if clientInteraction.action == 'deleted' %} 		bg-red-100 	dark:bg-red-800/30 rounded
						{% elseif clientInteraction.action == 'created' %}	bg-blue-100 dark:bg-blue-800/30 rounded
						{% elseif clientInteraction.action == 'edited' %}	bg-green-100 dark:bg-green-800/30 rounded
						{% endif %}">{{ clientInteraction.description }}
					</div>
				</td>
				<td class="px-6 pt-2">
					{{ clientInteraction.client.displayName }}
				</td>
				<td class="px-6 pt-2">
					{{ clientInteraction.date ? clientInteraction.date|date('d/m/Y') : '' }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">Aucun client trouvé</td>
			</tr>
		{% endfor %}
	</tbody>
</tbody></table></div>
