<div class="relative my-5 overflow-x-auto">
	<table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
		<tbody>
			{% for clientInteraction in clientsInteractions|slice(0, 11) %}
				<td class="px-6 pt-2">
					<div class="py-1
												{% if clientInteraction.action == 'deleted' %} bg-red-100
												{% elseif clientInteraction.action == 'created' %}bg-blue-100
												{% elseif clientInteraction.action == 'edited' %}	bg-green-100
												{% endif %}">{{ clientInteraction.description }}
					</div>
				</td>
				<td class="px-6 pt-2">
					{{ clientInteraction.client.displayName }}
				</td>
				<td class="px-6 pt-2">
					{{ clientInteraction.date ? clientInteraction.date|date('d/m/Y') : '' }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">Aucun client trouvé</td>
			</tr>
		{% endfor %}
	</tbody>
</tbody></table></div>
