{% if type=='guid' %}
    {% set params = { 'guid': id } %}
{% endif %}

{% if type=='slug' %}
    {% set params = { 'slug': id } %}
{% endif %}

{% if type=='id' %}
    {% set params = { 'id': id } %}
{% endif %}

<form 
    method="post" 
    action="{{ path( path , params) }}" 
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?');">
    
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
	<button class="deleteButton">Supprimer</button>
</form>