{# Modal toggle #}
<a data-modal-target="create-bill-modal" data-modal-toggle="create-bill-modal" class="primaryButton cursor-pointer">
    Nouvelle facture
</a>

{# Main modal #}
<div id="create-bill-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-neutral-800">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-neutral-700">
                <h3 class="text-lg font-semibold text-neutral-900 dark:text-white">
                    Ajouter une nouvelle facture
                </h3>
                <button type="button" class="text-neutral-400 bg-transparent hover:bg-neutral-200 hover:text-neutral-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-700 dark:hover:text-white" data-modal-toggle="create-bill-modal">
                    <i class="fa-solid fa-xmark text-2xl"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-5">
                {{ include('_components/front/bill/_form.html.twig', {'button_label': 'Générer une facture', 'title': 'Créer une facture'}, ) }}
            </div>
        </div>
    </div>
</div> 
