{{ form_start(form,{ action:path('front_company_app_bill_new') }) }}
{{ form_rest(form)}}
<div>
	<button type="submit" class="inline-flex items-center primaryButton w-full justify-center">
		<i class="fa-solid fa-plus text-sm mr-2"></i>
		{{ button_label }}
	</button>
</div>
	
{{ form_end(form) }}
