{{ form_start(form,{ action:path('front_company_app_bill_new') }) }}
{{ form_rest(form)}}
<div>
	<button type="submit" class="inline-flex items-center primaryButton w-full justify-center">
		<svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
		{{ button_label }}
	</button>
</div>
	
{{ form_end(form) }}
