{% extends 'layout/front_office.html.twig' %}

{% block title %}
    Modifier un devis
{% endblock %}

{% block content %}
    <a href="{{ path('front_company_app_quote_index') }}" class="backToPrevious">
        <i class="fa-solid fa-arrow-left text-2xl"></i>
	</a>
    <h1 class="pageTitle">
        Modifier un devis
    </h1>
    
    <div class="mx-auto lg:w-1/2 lg:mx-0">
        {{ include('_components/front/quote/_form.html.twig', { 'button_label': 'Modifier le devis' }) }}
    </div>
{% endblock %}
