<form method="post" action="{{ path('front_company_app_client_delete', {'slug': clientSlug}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clientSlug) }}">
	<button class="btn">Delete</button>
</form>
