{% extends 'layout/front_office.html.twig' %}

{% block title %}
	Edit Client
{% endblock %}

{% block content %}
	<a href="{{ path('front_company_app_bill_index') }}" class="hover:underline block pb-3">< Retour</a>
	<h1 class="pageTitle">Modifier client</h1>

	<div class="md:w-1/3">
		{{ include('_components/front/client/_form.html.twig', { 'button_label': 'Modifier' }) }}
	</div>
{% endblock %}
