{% extends 'layout/front_office.html.twig' %}

{% block title %}
	Mes Clients
{% endblock %}

{% block content %}
	<h1 class="pageTitle">Mes Clients</h1>
	{{ include('front/search/index.html.twig', {'filter': 'Status'}) }}

	<a href="{{ path('front_company_app_client_new')}}" class="primaryButton">
		Ajouter un client
	</a>
	{{ include('_components/front/client/_table.html.twig', clients) }}
{% endblock %}
