{% extends 'layout/front_office.html.twig' %}

{% block title %}
	Client {{ client.firstName }} {{ client.lastName }} 
{% endblock %}

{% block content %}
	<h1 class="pageTitle"> {{ client.firstName }} {{ client.lastName}}</h1>
	{# TODO: Afficher la liste des devis et factures liés à l'utilisateur #}
	<div>La liste des factures et devis liés à l'utilisateur</div>
{% endblock %}
