<form method="post" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" action="{{ path('front_company_app_quote_delete', {'guid': quote.guid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote.guid) }}">
    <button class="btn">Supprimer</button>
</form>
