{% extends 'layout/back_office.html.twig' %}

{% block title %}Admin Edit User{% endblock %}

{% block content %}
    <a href="{{ path('back_app_user_index') }}" class="backToPrevious">
        <i class="fa-solid fa-arrow-left text-2xl"></i>
    </a>
    <h1 class="pageTitle">Modifier un utilisateur</h1>

    <div class="mx-auto md:w-1/2 lg:mx-0">
        {{ include('_components/back/user/_form.html.twig', { 'button_label': 'Modifier' }, ) }}
    </div>
{% endblock %}
