@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@layer base {

  :root {
    --primary-color: #F6C31E;
    --white: #F9F9F9;
  }

  html {
    height: 100vh;
    width: 100vw;
  }

  body {
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
  }

  .required:after {
    content: " *";
    font-weight: 700;
    color: var(--primary-color);
  }

  /* Custom search cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    left: -2rem;
    /* -webkit-appearance: none; */
  }
}

@layer components {
  .pageTitle {
    @apply pb-4 mb-6 text-4xl font-bold text-center lg:text-left;
  }

  .backToPrevious {
    @apply hover:underline block pb-3 text-neutral-700 hover:text-neutral-900 dark:text-neutral-300 dark:hover:text-white;
  }

  .primaryButton {
    @apply inline-block w-full md:w-48 px-6 py-3 font-bold text-center text-black rounded bg-amberYellow dark:bg-amberYellowDarker
  }

  .secondaryButton {
    @apply inline-block w-full md:w-48 px-6 py-3 font-bold text-center text-white rounded bg-neutral-950 dark:bg-neutral-200 dark:text-neutral-950
  }

  .deleteButton {
    @apply inline-block w-full md:w-48 px-6 py-3 font-bold text-center text-black rounded bg-red-600
  }
}