<div class="relative overflow-x-auto mt-4">
	<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Name
				</th>
				<th scope="col" class="px-6 py-3">
					Email
				</th>
				<th scope="col" class="px-6 py-3">
					Téléphone
				</th>
				<th scope="col" class="px-6 py-3">
					Adresse
				</th>
				<th scope="col" class="px-6 py-3"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
				<th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap dark:text-white">
					Apple MacBook Pro 17"
				</th>
				<td class="px-6 py-4">
					Silver
				</td>
				<td class="px-6 py-4">
					Laptop
				</td>
				<td class="px-6 py-4">
					$2999
				</td>
				<td class="text-lg flex justify-end font-medium  dark:text-white mr-4">
					...
				</td>
			</tr>
			<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
				<th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap dark:text-white">
					Microsoft Surface Pro
				</th>
				<td class="px-6 py-4">
					White
				</td>
				<td class="px-6 py-4">
					Laptop PC
				</td>
				<td class="px-6 py-4">
					$1999
				</td>
				<td class="text-lg flex justify-end font-medium  dark:text-white mr-4">
					...
				</td>
			</tr>
			<tr class="bg-white dark:bg-gray-800">
				<th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap dark:text-white">
					Magic Mouse 2
				</th>
				<td class="px-6 py-4">
					Black
				</td>
				<td class="px-6 py-4">
					Accessories
				</td>
				<td class="px-6 py-4">
					$99
				</td>
				<td class="text-lg flex justify-end font-medium  dark:text-white mr-4">
					...
				</td>
			</tr>

		</tbody>
	</table>
</div>
