<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Vous avez reçu un devis : </h1>
        <p>{{ content }}</p>
        <p>{{ infos }}</p>
    </body>
</html>