<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Demande de création de compte</h1>
        <p>{{ content }}</p>
        <p>Email : <strong>{{ emailContact }}</strong></p>
        <p>Téléphone : <strong>{{ phone }}</strong></p>
        <h2>Plus d'informations : </h2>
        <p>{{ infos }}</p>
    </body>
</html>
