<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Réinitialisation de mot de passe</h1>
        <p>{{ content }}</p>
        <h2>Vos informations</h2>
        <p>Votre Email : <strong>{{ emailContact }}</strong></p>
        <p>Votre nouveau mot de passe : <strong>{{ newPassword }}</strong></p>
    </body>
</html>