{% extends "base.html.twig" %}

{% block title %}
    Produit    
{% endblock %}

{% block body %}
    <main class="flex flex-col h-screen md:flex-row">
        {{ include('_components/front/global/_side_bar.html.twig') }}
        <section class="flex-grow px-5 pt-8 pl-8 overflow-x-hidden overflow-y-auto">
        <h1 class="py-8 text-5xl font-bold">
            {{ product.imageFile}}
            {{ product.name }}
            {{ product.description}}
        </h1>
    </main>   
{% endblock %}