{% extends 'base.html.twig' %}

{% block title %}
    Nouveau produit
{% endblock %}

{% block body %}

	<main class="flex flex-col h-screen md:flex-row">
		{{ include('_components/front/global/_side_bar.html.twig') }}
		<section class="flex-grow px-5 pt-8 pl-8 overflow-x-hidden overflow-y-auto">
			{{ include('_components/front/product/_form.html.twig', {'button_label': 'Ajouter', 'title': 'Créer le produit'}, ) }}
		</section>
	</main>

{% endblock %}
