{% extends 'public_base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<main>
    <nav class="w-full h-14 text-center items-center inline-flex bg-white">
        <img class="object-cover ml-2 h-10 md:mx-auto" src={{ asset('images/logo_sur_fond_blanc.svg') }} alt="logo_clickbill"/>
        <a href="{{ path('app_login') }}" class="block absolute right-2 top-2 py-1.5 px-6 cursor-pointer font-bold text-lg md:font-semibold rounded bg-amberYellow">Se connecter</a>
    </nav>
    <header class="bg-amberYellow w-full">
        <div class="w-10/12 md:w-7/12 mx-auto px-2 py-12 md:p-12">
            <h1 class="text-3xl md:text-5xl font-extrabold leading-snug">Choisissez l’outil le plus simple pour vos devis et factures.</h1>
            <div class="w-full flex flex-col space-y-4 md:space-y-0 md:flex-row md:inline-flex md:space-x-6 justify-center mt-10">
                <a href="{{ path('public_app_register') }}" class="block w-full text-center md:w-fit py-2 cursor-pointer px-8 text-lg font-semibold rounded text-white bg-black">Je m'inscris</a>
                <a href="#" class="block w-full text-center md:w-fit py-2 cursor-pointer px-8 text-lg font-semibold rounded text-black bg-white">Je découvre</a>
            </div>
        </div> 
    </header>
    
    <section class="w-10/12 md:w-7/12 mx-auto p-2 md:p-12">
        <h3 class="text-4xl font-bold my-10 md:mb-10 md:mt-0">Pour vous les photographes et vidéastes !</h3>
        <p class="text-justify">
            ClickBill est un outil de gestion de devis et factures dédié aux photographes et vidéastes. 
            Générez des devis et factures simplement, programmez des relances de paiement et suivez votre clientèle en un clic !
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed sollicitudin turpis, vitae maximus turpis. Integer blandit diam eget nisl commodo, et sagittis augue placerat. Aliquam pellentesque et ante sit amet scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis dolor vitae egestas accumsan.
            <br><br>
            In quis sem vehicula, tristique lectus ac, faucibus orci. Cras auctor turpis ut nibh vulputate, id eleifend sem laoreet. Aliquam vulputate ultricies quam non finibus. Aenean sit amet tellus pharetra, finibus tortor et, tempus enim. Ut at turpis lectus.
            Nulla eu semper tellus. Suspendisse auctor, enim quis rhoncus efficitur, risus massa interdum enim, eu euismod sem mauris ac tortor. 
            <br><br>
            Donec nibh est, rhoncus id vehicula blandit, consectetur nec diam. Etiam lacinia diam a ultrices sodales. Etiam a elit mi. Fusce ullamcorper nibh dui, at varius nisi fermentum nec. Pellentesque fermentum pretium auctor. Sed ac orci est. Morbi luctus turpis sed dapibus varius. In volutpat velit a mauris blandit vestibulum ut sit amet nibh. Quisque blandit erat sit amet mi blandit, egestas tempus leo vestibulum. Morbi venenatis neque a pulvinar accumsan. Sed auctor nisi sem, sagittis molestie massa fringilla at.
        </p>
    </section>

    {# <section class="w-10/12 md:w-7/12  mx-auto p-2 md:p-12">
        #todo: make a review slider ?
    </section> #}

    <footer class="text-neutral-300 bg-neutral-900">
        <div class="w-10/12 md:w-7/12 py-10 mx-auto p-2 md:p-12">
            <div class="md:flex md:justify-between">
                
                <div class="grid grid-cols-1 gap-8 sm:gap-6 sm:grid-cols-4">
                    <img class="object-cover w-full" src={{ asset('images/logo_sur_fond_noir.svg') }} alt="logo_clickbill"/>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">Resources</h2>
                        <ul class="text-neutral-500 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">À propos</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Nous contacter</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">Nous suivre</h2>
                        <ul class="text-neutral-500 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline ">Github</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">Légal</h2>
                        <ul class="text-neutral-500 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Politique de confidentialité</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Termes &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-neutral-300 sm:mx-auto lg:my-8"/>
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-neutral-500 sm:text-center">© 2024 Clickbill™</a> – All Rights Reserved
                </span>
                <div class="flex mt-4 justify-center md:justify-right sm:mt-0 mb-10 md:mb-0">
                    <a href="#" class="text-neutral-500 hover">
                        <i class="fa-brands fa-facebook text-xl"></i>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="text-neutral-500 hover ms-5">
                        <i class="fa-brands fa-discord text-xl"></i>
                        <span class="sr-only">Discord community</span>
                    </a>
                    <a href="#" class="text-neutral-500 hover ms-5">
                        <i class="fa-brands fa-twitter text-xl"></i>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#" class="text-neutral-500 hover ms-5">
                        <i class="fa-brands fa-github text-xl"></i>
                        <span class="sr-only">GitHub account</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</main>
{% endblock %}