{% extends 'public_base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<main class="text-center p-5">
    <h1 class="text-3xl font-bold">
        Page Vitrine/Homepage ClickBill
    </h1>
    <a href="{{ path('app_login') }}" class="primaryButton mx-auto">
        Se connecter
    </a>
</main>
{% endblock %}