{% extends 'layout/front_office.html.twig' %}

{% block title %}
	Modifier le profil
{% endblock %}

{% block content %}
	<a href="{{ path('front_company_app_user_index') }}" class="backToPrevious">
        <i class="text-2xl fa-solid fa-arrow-left"></i>
	</a>
    <h1 class="pageTitle">Modifier mon profil</h1>

	<div class="mx-auto md:w-1/2 lg:mx-0">
		{{ include('_components/front/user/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
